doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css')
    if env === 'development'
      script(src='//localhost:9091')
  body
    block content
    script(src='/app.js')
    script.
      main({ currentUser: !{JSON.stringify(currentUser)}});
